[submodule "Python/EDAN95_96/EDAN96-lab3"]
	path = Python/EDAN95_96/lab3
	url = https://github.com/Anton-Ca/EDAN96-lab3.git
[submodule "Python/EDAN95_96/EDAN96-lab4"]
	path = Python/EDAN95_96/EDAN96-lab4
	url = https://github.com/Anton-Ca/EDAN96-lab4.git
[submodule "Python/EDAN95_96/lab5"]
	path = Python/EDAN95_96/lab5
	url = https://github.com/Anton-Ca/EDAN96-lab5.git
